<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 开发环境log文件位置-->
    <property name="LOG_HOME" value="logs" />
    <!--项目名-->
    <property name="PROJECT_NAME" value="boot-blog" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}:[%thread]%-5level %logger{50}[%msg]%n</pattern>
        </encoder>
    </appender>
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${PROJECT_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--添加.gz历史日志会启用压缩，缩小日志文件所占用空间-->
            <fileNamePattern>${LOG_HOME}/${PROJECT_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - class [%c] - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="com.vang.blog" level ="DEBUG" />
    <logger name="httpclient.wire" level ="ERROR" />
    <logger name="org.apache.commons.httpclient" level="ERROR" />
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="infoAppender" />
    </root>
</configuration>